<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Book - ELL887 Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <img src="{{url_for('static', filename='logo.png')}}" width="20%" />
        <center><h1><b>Add a Book</b></h1></center>
        <a href="{{ url_for('index') }}" class="btn btn-secondary mt-2">⬅️ Back to Book List</a>
    </div>
    <br><br>
    
    <form method="POST" action="{{ url_for('add_book') }}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="authors">Authors</label>
            <input type="text" class="form-control" id="authors" name="authors" required>
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year" name="year" required>
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" name="url" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Book</button>
    </form>
    
    
</div>

</body>
</html>

